<!DOCTYPE html>
<html>
<head>
    <title>MyLabInventory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/assignmentsStyle.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a  href="/" class="brand-logo" style='padding-left:2%'>
                <img src="/images/logo.png" alt="Company Logo" class="responsive-img logo" style="max-width:75%">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li><a href="/inventory">Inventory</a></li>
              <li><a href="/detail">Common Chemicals</a></li>
            </ul>
          </div>
    </nav>
    <main>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="header center orange-text">Welcome to MyLabInventory</h1>
                <div class="row center">
                    <h5 class="header col s12 light">A modern approach to manage your lab inventory</h5>
                </div>
                <div class="row2">
                    <a href="/inventory" id="download-button" style="justify-content:center !important" class="btn-large waves-effect waves-light orange">Get Started</a>
                </div>
            </div>
        </div>
    </main>
    <section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h2 class='orange-text'>About Us</h2>
                    <p>We are MyLabInventory, a dedicated team managing laboratory inventories with precision and accuracy. We specialize in cataloging, monitoring, and providing critical chemical information to labs, ensuring smooth operational flow. Our commitment to meticulous inventory control is driven by our understanding of the importance of well-managed lab resources. Count on us for reliable and efficient lab inventory management.</p>
                </div>
                <div class="col l6 s12">
                    <img src="/images/about_us.png" alt="About Us Image" class="responsive-img" style="padding-top:5%">
                </div>
            </div>
        </div>
    </section>
    
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 social-media">
                    <img src="/images/logo.png" alt="Company Logo" class="responsive-img logo" style="padding-right:5%">
                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">Follow Us</h5>
                    <div class="social-icons">
                        <a href="your-facebook-link" class="facebook-icon" style="color:white">Facebook</a>
                        <a href="your-twitter-link" class="twitter-icon" style="color:white">Twitter</a>
                        <a href="your-instagram-link" class="instagram-icon" style="color:white">Instagram</a>
                        <a href="your-linkedin-link" class="linkedin-icon" style="color:white">LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="/scripts/materializeAutoInit.js"></script>
</body>
</html>

